#gobrr {
	stroke-dasharray: 6062.55126953125;
	stroke-dashoffset: 6062.55126953125;
	animation: sign 4s ease;
	animation-fill-mode: forwards;
	animation-delay: 1s;
	stroke-width: 50;
	align-self: center;
}

#fortnut {
	max-width: 90vw;
	width: 26.595rem;
	height: auto;
	align-self: center;
}

@keyframes sign {
	to {
		stroke-dashoffset: 0;
	}
}