body {
    background-image: url('https://source.unsplash.com/Yj1M5riCKk4/3840x3840');    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#000000;

    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: calc(0 - env(safe-area-inset-bottom));
  }