body {
    background-image: url(pp.jpg);    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#000000;

    padding-left: 2vw;
    padding-top: 1vw;
  }