.buttonbox {
    display: flex;
    width: 100%;
    place-items: center flex-start;
    align-content: center flex-start;
    background-color: transparent;
}

.col {
    flex: 1;
    padding-top: 6rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.colspecial {
    flex: 1;
    padding-top: 6rem;
    padding-right: 3rem;
    padding-left: 0rem;
}

.colspeciall {
    flex: 1;
    padding-top: 6rem;
    padding-right: 9rem;
    padding-left: 3rem;
}

span {
    font-size: 3rem; 
    color: white;
    background-color: transparent;
}

button {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}