.buttonbox {
    display: flex;
    width: 100%;
    place-items: center;
    background-color: transparent;
}

span {
    font-size: 3em; 
    color: white;
    background-color: transparent;
}

button {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}