.DABABY {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

.a {
    place-self: center center;
    padding-top: 6%;
    padding-left: 3.80rem;
    align-self: center center;
}

.f {
    place-self: center flex-start;
}