@media only screen and (max-width: 800px) {
    body {
      background-image: url(pp-mobile.jpg);
      padding-left: 0vw;
      padding-right: 0vw;
      padding-top: 0vw;
    } .a {
      padding-top: 0%;
      padding-left: 0%;
      padding-right: 1%;
      width: 100vw;
      place-self: center center;
      align-content: center center;
    } .d, .e {
      display: none !important;
    } .f {
      place-self: center center;

      align-content: center center;
    } #fortnut {
        width: 84vw;
    } .buttonbox {
        place-items: center center;
        align-content: center center;
        width: 100vw;
    } .col {
      flex: 1;
      padding-top: 5rem;
      margin-left: 0%;
      margin-right: 0%;
      padding-right: 4vw;
      padding-left: 4.2vw;
      align-items: center center;
      place-items: center center;
  }
      }