@media only screen and (max-width: 800px) {
    body {
      background-image: url(pp-mobile.jpg);
      padding-left: 7.5vw;
      padding-top: 0vw;
    } .a {
      padding-top: 0%;
      padding-left: 0%;
      width: 100vw;
      place-self: center center;
      align-content: center center;
    }  .d, .e {
      display: none;
    } .f {
      place-self: center center;

      align-content: center center;
    } #fortnut {
        width: 84vw;
    } .buttonbox {
        place-items: center center;
        align-content: center center;
    }
      }