@use 'partials/animation';
@use 'partials/background';
@use 'partials/bottons';
@use 'partials/DAGRID';
@use 'partials/mobile';
@use 'partials/medium';

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}